/FlyEngine/Release
/FlyEngine/Debug
/Debug
/Release
/.vs
/FlyEngine/x64
/FlyEngine/Logs/Flog*
/FlyEngine/imgui.ini
/FlyEngine/memory_leak_report.txt
/FlyEngine/Resources/Assets/Levels/Serialized
/FlyEngine/Resources/Assets/Docs